doctype html
html(lang='en')
  head
    meta(charset='utf-8')
    title Odd Even Li's
    link(rel="stylesheet", href="/css/normalize.css")
    link(rel="stylesheet", href="/css/style.css")
    script(src='/js/vendor/jquery-1.10.2.js')
    script(src='/js/source/main.js')
  body
    header
      h1 Odd/Even Li's 
      #control
        input#number(type='text', autofocus=true, placeholder='10')
        button#add-li Add Lis
      ul#container
