doctype html
html(lang='en')
  head
    meta(charset='utf-8')
    title Get Forcast By Zipcode
    link(rel='stylesheet', href='/css/normalize.css')
    link(rel='stylesheet', href='/css/style.css')
    script(src='/js/vendor/jquery.js')
    script(src='/js/source/main.js')
  body
    input#zip(type='text', autofocus=true, placeholder='blue')
    button#add-zip Add Zip Code
    select#zips
    button#get-forecast Get Forcast


