doctype html
html(lang='en')
  head
    meta(charset='utf-8')
    title Make Divs Disappear
    link(rel='stylesheet', href='/css/normalize.css')
    link(rel='stylesheet', href='/css/style.css')
    script(src='/js/vendor/jquery.js')
    script(src='/js/source/main.js')
  body
    #container
      - for(var i = 0; i < 10; i++)
        div.box(id="x" + i) Cool Number #{i}


