doctype html
html(lang='en')
  head
    meta(charset='utf-8)
    title Image Magic
    link(rel='stylesheet', href='/css/normalize.css')
    link(rel='stylesheet', href='/css/style.css')
    script(src='/js/vendor/jquery.js')
    script(src='/js/source/main.js')
  body
     #controls
      input#colors(type='text', autofocus=true, placeholder='red, blue, green')
      button#add-colors Add Colors
    #container

